.app-shell {
    display: flex;
    height: 100vh;
    /* Locks the app to the full height of the browser window */
    overflow: hidden;
    /* Prevents the whole page from scrolling */
    background-color: var(--bsp-app-bg);
}

.content-area {
    flex: 1;
    /* Tells this container to take up all remaining width */
    overflow-y: auto;
    /* Allows only the right side to scroll if the dashboard gets long */
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px; /* Force bottom padding */

    @media (max-width: 1024px) {
        padding-left: 70px; /* Make room for the fixed primary icon rail */
    }

    @media (max-width: 768px) {
        padding-left: 0;
        padding-top: 60px; /* Make room for the new mobile top app bar */
        padding-bottom: 4rem; /* Additional space at the bottom on mobile */
    }
}