<img [src]="imagePathLoginImg" alt="Login Image " class="login-image">
<div class="login-container">
  <img [src]="imagePathBSPLogo" alt="BSP Logo" class="bsp-logo">
  <div class="system-name">
    <span class="bsp-name">Boy Scouts of the Philippines</span> 
    <h2>BSP-IMS</h2>
    <span class="sys-name">Inventory Management System</span> 
  </div>  
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="username">Email</label>
      <input 
        id="username" 
        type="text" 
        formControlName="username" 
        required
      >
      @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)){
        <div class="alert-danger">
            @if (loginForm.get('username')?.errors?.['required']){Email is required.
            }
        </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input 
        id="password" 
        type="password" 
        formControlName="password" 
        required
      >
      @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)){
        <div class="alert-danger">
            @if (loginForm.get('password')?.errors?.['required']){
                Password is required.
            }
        </div>
      }
    </div>

    <button type="submit" [disabled]="loginForm.invalid">
      Log In
    </button>
  </form>
  @if (errorMessage) {
    <div class="alert-error">
        {{ errorMessage }}
    </div>
  }
</div>